!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title IREN ONLINE NOTEBOOK
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    %header
      .header_inner
        .logo

    %nav
      .container
        - if user_signed_in?
          .pull-left
            .btn.btn-default= link_to "New Note", new_note_path
          .pull-right
            .btn.btn-default= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          .pull-left
            .btn.btn-default.nice-button= link_to "Log In", new_user_session_path
          .pull-right
            .btn.btn-default= link_to "Sign Up", new_user_registration_path

    .container


      = yield